################################################################################
# Ten plik .gitignore został utworzony automatycznie przez Microsoft(R) Visual Studio.
################################################################################

/.vs
/BazaDanych/.vs/BazaDanych.slnx
/BazaDanych/BazaDanych/BazaDanych.dbmdl
/BazaDanych/BazaDanych/BazaDanych.jfm
